body{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 40px;
    font-size: 48px;
}
.board{
    border: 10px solid black;
    background-color: white;
    width: 400px;
    height: 400px;
}

.boards-div{
    display: flex;
    gap: 20px;
}

.square{
    border: 1px solid black;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ship{
    background-color: grey;
}